.App {
  text-align: center;
}

.initial-page {
  color: #293264;
  font-family: 'Karla';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.initial-btns{
  display: flex;
  align-self: center;
  justify-content: center;
}

.initial-btns > button {
  margin-right: 1rem;
  flex-shrink: 0;
  color: #F5F7FB;;
  background: #4D5B9E;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.initial-btns > select {
  color: whitesmoke;
  background: black;
  outline: none;
  border-radius: 5px;
  font-size: smaller;
}

/* IMAGES DIVS */
.background-image-left {
  position: fixed;
  top: 0px;
  left: 92%;
  background-image: url('C:\Users\devis\OneDrive\Área de Trabalho\my-quiz-app\blob_2.png');
  width: 200px; /* Set the appropriate width for your image */
  height: 140px; /* Set the appropriate height for your image */
  background-size: cover;
  z-index: -1; /* Place the image behind the content */
}

.background-image-right {
  position: fixed;
  bottom: 0%;
  right: 92%;
  background-image: url('C:\Users\devis\OneDrive\Área de Trabalho\my-quiz-app\blob_1.png');
  width: 300px; /* Set the appropriate width for your image */
  height: 240px; /* Set the appropriate height for your image */
  background-size: cover;
  z-index: -1; /* Place the image behind the content */
}

/* CONTAINERS AND DETAILS STYLING */
.container{
  color: #293264;
  font-family: 'Karla';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.question-container{
  margin: 1.5rem 0px;
}

.hidden{
  display: none;
  margin: 1rem 1rem;
}

.divider {
  width: 60%;
  margin: 20px;
  border: none;
  border-top: 1px solid #ccc; /* Set border styles to create the horizontal line appearance */
}

.divider-line {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
}

/* BUTTONS AND RADIUS STYLING */
.start-quiz-btn {
  cursor: pointer;
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
}

.question-list {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

label {
  display: inline-block;
  padding: 10px 20px;
  border: 0.8px solid #4D5B9E;
  cursor: pointer;
  border-radius: 8px;
  background: #F5F7FB;
  color: #293264;
  font-weight: 500;
  outline: none;
  margin-right: 15px;
}

input[type="radio"] {
  display: none;
}

.selected {
  background: #D6DBF5;
  color: #293264;
  border-color: #D6DBF5;
  outline: none;
}

.submit-quizz-btn{
  flex-shrink: 0;
  color: aliceblue;
  background: #4D5B9E;
  border-radius: 10px;
  font-weight: bold;
  padding: 15px 30px;
  margin-bottom: 1rem;
}

.play-again-btn{
  flex-shrink: 0;
  color: aliceblue;
  background: #d7386b;
  border-radius: 10px;
  font-weight: bold;
  padding: 15px 30px;
  margin-bottom: 1rem;
}

.correct-answer {
  background: #94D7A2;
  color: #293264;
  text-align: center;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  outline: none;
}

.incorrect-answer{
  background: #F8BCBC;
  color: #293264;
  text-align: center;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  outline: none;
}
/* INITIAL PAGE STYLES */
